.fieldInputs {
	-fx-border-color:  #343E47;
	-fx-border-width: 0;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-background-color: #242B32;
}

#phoneField {
	-fx-border-color:  #343E47;
	-fx-border-width: 0 10px 10px 10px;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-background-color: #242B32;
}

#phoneField {
	-fx-background-insets: 0 96px 0 96px;
	-fx-border-insets:  0 96px 0 96px;
}

#deleteButton {
	-fx-background-color:  #c2722d;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-cursor: hand;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-size: 31px;
	-fx-font-weight: bold;
}

#deleteButton:hover{
	-fx-background-color: #9b5b24;
}

#deleteButton:pressed{
	-fx-background-color: #c88042;

}

#labels{
	-fx-border-insets: 50px 0 0 92px;
	-fx-text-fill: #979797;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-border-color:  #343E47;
	-fx-border-width: 0 0 0 10px;
}