.navigationButton {
	-fx-background-color: none;
	-fx-text-fill: rgb(255, 255, 255);
}

.navigationButton:hover{
	-fx-background-color: rgb(30, 30, 30)
}

.navigationButton:pressed{
	-fx-background-color: rgb(15, 15, 15);
}

#homeButton:focused {
	-fx-background-color: rgb(15, 15, 15);
    -fx-underline: true;
}

#scheduleButton:focused {
	-fx-background-color: rgb(15, 15, 15);
	-fx-underline: true;
}

#clientsButton:focused {
	-fx-background-color: rgb(15, 15, 15);
	-fx-underline: true;
}

#instructorsButton:focused {
	-fx-background-color: rgb(15, 15, 15);
	-fx-underline: true;
}