.bottomButtons{
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-cursor: hand;
}

#saveButton{
	-fx-background-color:  #234736;	
}

#saveButton:hover{
	-fx-background-color: #1f3f30;
}

#saveButton:pressed{
	-fx-background-color: #4e6b5e;
}

#cancelButton {
	-fx-background-color:  #442727;
}

#cancelButton:hover{
	-fx-background-color: #361A1A;
}

#cancelButton:pressed{
	-fx-background-color: #422020;
}

#fields{
	-fx-border-color:  #343E47;
	-fx-border-width: 0 10px 10px 10px;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-background-color: #242B32;
}

#labels{
	-fx-text-fill: #979797;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-border-color:  #343E47;
	-fx-border-width: 0 0 0 10px;
}

#phoneNumberField{
	-fx-border-color:  #343E47;
	-fx-border-width: 0 10px 10px 10px;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-background-color: #242B32;
}

#choiceBox {
	-fx-border-color:  #343E47;
	-fx-border-width: 0 10px 10px 10px;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-background-color: #242B32;
	-fx-mark-color: #ffffff;
}

#choiceBox .label{
	-fx-text-fill: #ffffff;
	
}

#choiceBox .context-menu {
    -fx-background-color: #343E47;
}

#radioButton {
	-fx-border-color:  #343E47;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-background-color: #343E47;
	-fx-border-width: 1px 10px 10px 5px;
}

#clientInfoTitle {
	-fx-text-fill: #979797;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 50px;
	-fx-border-color:  #343E47;
	-fx-text-alignment: center;
	-fx-border-width: 0px 0px 10px 0px;
}

#lessonInfoTitle {
	-fx-text-fill: #979797;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
	-fx-font-size: 50px;
	-fx-border-color:  #343E47;
	-fx-text-alignment: center;
	-fx-border-width: 0px 0px 55px 0px;
}

#deleteButton {
	-fx-background-color:  #c2722d;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-cursor: hand;
	-fx-text-fill: #ffffff;
	-fx-font-family: Calibri;
	-fx-font-size: 31px;
	-fx-font-weight: bold;
}

#deleteButton:hover{
	-fx-background-color: #9b5b24;
}

#deleteButton:pressed{
	-fx-background-color: #c88042;

}