#addClientButton{
    -fx-background-color: #16324B;
}

#addClientButton:hover {
    -fx-background-color:  #244561;
}

#addClientButton:pressed{
    -fx-background-color: rgb(22, 47, 67);
}

#centerAnchorPane {
    -fx-background-color: #343E47;
}

#scrollPane > .corner {
	-fx-background-color:  #343E47;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track{
	-fx-background-color:  #212121;
	-fx-max-width: 1px;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.increment-arrow,
.decrement-arrow {
	-fx-background-color: transparent;
}

#topLabelsContainer {
	-fx-border-width: 0 0 5px 0;
	-fx-border-color: black;
}

#mainCardPane{
	-fx-border-width: 10px;
	-fx-border-color: #28547C;
	-fx-background-color: #28547C;
	-fx-font-size: 35;
	-fx-font-family: Calibri;
	-fx-font-weight: bold;
}

#mainCardPane:hover{
	-fx-background-color: red;
	-fx-cursor: hand;
}

#mainCardPane:pressed{
	-fx-background-color: green;
}

