#addInstructorButton {
    -fx-background-color: #16324B;
}

#addInstructorButton:hover {
    -fx-background-color:  #244561;
}

#addInstructorButton:pressed{
    -fx-background-color: rgb(22, 47, 67);
}